*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#slider{
    max-width:800px;
    height:360px;
    margin:30px auto;
    position:relative;
    overflow: hidden;
    cursor: ew-resize;
}

#slider .image{
    position: absolute;
    inset: 0;
    width:100%;
    height:100%;
    object-fit:cover;
    transition: clip-path 100ms;
}

.active{
    z-index: 1;
    pointer-events:none;
}
.divider{
    position: absolute;
    top:0;
    bottom:0;
    height:100%;
    width:2px;
    background:#fff;
    pointer-events: none;
    z-index:2;
    transition: all 100ms;
}