*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eee;
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.form{
    max-width: 640px;
    width:100%;
    background: #ddd;
    padding:20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

label{
    display: flex;
    flex-direction: column;
    gap:10px;
}
input[type="text"],
textarea{
    padding: 10px;
}
.btn{
    background:slateblue;
    border:none;
    border-radius: 5px;
    color:white;
    padding: 10px;
}